:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

@keyframes bgcolor {
  0% {
      color: #45a3e5
  }

  30% {
      color: #66bf39
  }

  60% {
      color: #eb670f
  }

  90% {
      color: #f35
  }

  100% {
      color: #864cbf
  }
}


.color-changing-15{
  animation:bgcolor 15s infinite
}
